<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 基础入门</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="root">
    <input v-model="content"/>
    <div>{{content}}</div>
    姓<input v-model="firstName"/>
    名<input v-model="lastName"/>
    <div>{{firstName}} {{lastName}}</div>
    <div>{{fullName}}</div>
    <div>{{count}}</div>
    <div v-if="show">Hello World(隐藏时 div 是从 dom 中删除)</div>
    <div v-show="show">Hello World(隐藏时 div 不会从 dom 中清除，性能更好)</div>
    <div v-if="show">
        用户名：<input key="username"/>
    </div>
    <div v-else>
        邮箱：<input key="mail"/>
    </div>
    <div v-if="show === 'a'">
        This is a
    </div>
    <div v-else-if="show === 'b'">
        This is b
    </div>
    <div v-else>
        This is others
    </div>
    <button @click="handleClick">Toggle</button>
    <ul>
        <li v-for="item of list">{{item}}</li>
    </ul>
    <input v-model="inputValue"/>
    <button @click="handelInputValue">添加</button>
    <ul>
        <li v-for="(item, index) of todoList" :key="index">{{item}}</li>
    </ul>
</div>
<script>
    // 创建一个 Vue 实例
    var vm = new Vue({
            el: "#root",
            data: {
                content: "this is content",
                firstName: "",
                lastName: "",
                count: 0,
                show: true,
                list: [1, 2, 3],
                inputValue: "",
                todoList: []
            },
            computed: {
                fullName: function() {
                    return this.firstName + " " + this.lastName;
                }
            },
            watch: {
                fullName: function() {
                    this.count ++;
                }
            },
            methods: {
                handleClick: function () {
                    this.show = !this.show;
                },
                handelInputValue: function () {
                    this.todoList.push(this.inputValue);
                    this.inputValue = "";
                }
            }
        });
</script>
</body>
</html>
